---
title: absolute(ruby)
---

<!-- Add your site or application content here -->
<!--header-->
<div class="header">
  <!--menu-->
  <nav id="main_menu" class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!--toggle-->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
          <i class="fa fa-bars"></i>
        </button>
        <!--logo-->
        <div class="logo">
          <a href="index.html"><img src="img/logo.png" alt="" class="animated bounceInDown" /></a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><%= link_to 'Home', 'index.html', :relative => true %> </li>


          <li><%= link_to 'Learn', '/learn.html', :relative => true %></li>


          <li><%= link_to 'Assigned', '/assignments.html', :relative => true %></li>


          <li><%= link_to 'Contact', '/.html', :relative => true %></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--//header-->


<!--page-->
<!-- REVOLUTION SLIDER -->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <!-- Slide 1 -->
      <li data-transition="slideright">
        <img src="img/slider/slider1.jpg" alt="" />


        <!-- Caption -->
        <div class="tp-caption lfb" data-x="870" data-y="75" data-speed="1400" data-start="1800" data-easing="easeOutExpo">
          <img src="img/slider/ruby_glass2.png" alt="" />
        </div>



        <!-- Caption -->
        <div class="caption sft stl" data-x="center" data-y="150" data-speed="1000" data-start="700" data-easing="easeOutExpo">
          <h3 class="rev-title bold">JUST ADD RUBY!</h3>
        </div>

        <!-- Caption -->
        <div class="caption lfl stl rev-title-sub" data-x="center" data-y="260" data-speed="800" data-start="1100" data-easing="easeOutExpo">
          CODE - DESIGN - CREATE
        </div>

        <!-- Caption -->
        <div class="caption sfb" data-x="center" data-y="350" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
          <a href="assignments.html" class="btn btn-outline btn-mobile">ASSIGNMENTS</a>
        </div>
      </li>


    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<!-- // END REVOLUTION SLIDER -->

<div id="banner">
  <div class="container intro_wrapper">
    <div class="inner_content">

      <!--welcome-->
      <div class="welcome_index">
        I think most <a href="#"><span class="hue_block white normal">programmers</span></a> spend the first 5 years of their career mastering
        <span>complexity</span>	and the rest of their lives learning <span>simplicity</span>
        - Buzz Andersen
      </div>
      <!--//welcome-->
    </div>
  </div>
</div>
<!--//banner-->
