<div class="container wrapper">
  <div class="inner_content">
    <% data.learned.items.each do |item|%>
    <div id="options">
      <ul id="filters" class="option-set" data-option-key="filter">
        <li><a href="#filter" data-option-value="*" class=" selected">All</a></li>
        <li><a href="#filter" data-option-value=".category01">Category 01</a></li>
        <li><a href="#filter" data-option-value=".category02">Category 02</a></li>
        <li><a href="#filter" data-option-value=".category03">Category 03</a></li>
      </ul>
      <div class="clear"></div>
    </div>
    <!-- portfolio_block -->
    <div class="row">
      <div class="projects">
        <div class="col-xs-12 col-sm-6 col-md-3 element category01" data-category="category01">
          <div class="hover_img">
            <a href="../img/portfolio/1.jpg" data-rel="prettyPhoto[portfolio1]">
              <img src="../img/portfolio/1.jpg" alt="" /></a>
          </div>
          <div class="item_description">
            <a href="<%="#{item.link}"%>.html"><span><%= "#{item.name}"%></span></a><br/>
            <%="#{item.description}"%>
          </div>
        </div>

        </div>
        </div>
        <% end %>
      </div>
    </div>







